<html>
<body>
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="count" placeholder="sample count" value="500" />
        <br />
        <input type="file" name="file" />
        <br />
        <input type="submit" />
    </form>
</body>
</html>